@model IEnumerable<WeatherForecastApplication.Models.City>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            @*@Html.ActionLink("Set default list", "Default", "City", null, new { @class = "btn btn-success" })*@
            <table class="table table-hover">
                <tr>
                    <th>City Name</th>
                    @*<th>Country</th>*@
                    <th>@Html.ActionLink("Set default list", "Default", "City", null, new { @class = "btn btn-success" })</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-1">@item.Name</td>
                        @*<td class="col-md-3">@item.Country</td>*@
                        <td class="col-md-1">@Html.ActionLink("Delete", "Delete", "City", new { @city = @item.Name, @country = @item.Country }, new { @class = "btn btn btn-danger" })</td>
                        <td class="col-md-1"></td>
                    </tr>
                }
            </table>
        </div>

        <div class="col-md-6">
            @*
                @if (ViewData["Message"] != null)
                {
                    <script language="javascript">
                        alert('@ViewData["Message"]');
                    </script>
                }
            *@

            @Ajax.ViewData["Message"]

            @using (Html.BeginForm("Add", "City"))
            {
                @Html.Label("Add new city to search list:")
                @Html.TextBox("city", "", new { @class = "form-control" })
                <input type="submit" name="button" value="Add" class="btn btn-primary" />
            }
        </div>
    </div>
</div>
