@model WeatherForecastApplication.Models.Forecast
@{
    ViewBag.Title = "Forecast";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h3>Weather Forecast</h3>
            <h3>@Model.City.Name, @Model.City.Country @Html.ActionLink("Choose other city", "Index", null, new { @class = "btn btn-default" })</h3>        

            <div class="nav nav-pills">
                @Html.ActionLink("Current", "Forecast", "Home", new { @city = @Model.City.Name, @country = @Model.City.Country, @days = 1 }, new { @class = "btn btn-default" })
                @Html.ActionLink("For 3 days", "Forecast", "Home", new { @city = @Model.City.Name, @country = @Model.City.Country, @days = 3 }, new { @class = "btn btn-default" })
                @Html.ActionLink("For 7 days", "Forecast", "Home", new { @city = @Model.City.Name, @country = @Model.City.Country, @days = 7 }, new { @class = "btn btn-default" })
            </div>

            <table class="table" style="font-size:16px">
                <tr>
                    <td align="center"> Date </td>
                    <td> </td>
                    <td align="center"> Day temperature</td>
                    <td align="center"> Night  temperature </td>
                    <td align="center"> Humidity, % </td>
                    <td align="center"> Wind speed </td>
                </tr>
                @foreach (var item in Model.List)
                {
                    <tr>
                        <td align="center"> 
                            @{    System.DateTime dtDateTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc);
                                dtDateTime = dtDateTime.AddSeconds(@item.Dt);
                                @dtDateTime.ToShortDateString();
                            }                        
                        </td>
                        <td align="center"> <img src="@String.Format("http://openweathermap.org/img/w/{0}.png", item.Weather[0].Icon)" alt="@item.Weather[0].Description" width="35" height="35"> </td>
                        <td align="center">  @item.Temp.Day.ToString() </td>
                        <td align="center">  @item.Temp.Night.ToString() </td>
                        <td align="center">  @item.Humidity </td>
                        <td align="center">  @item.Speed.ToString() </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>